# SPDX-License-Identifier: PMPL-1.0-or-later
name: OpenSSF Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: '0 3 * * 1' # Weekly on Mondays at 3am
  push:
    branches: [main]

permissions: read-all

jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # 34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          persist-credentials: false

      - name: Run OpenSSF Scorecard
        uses: ossf/scorecard-action@v2.4.0 # 62b2cac7ed8198b15735ed49ab1e5cf35480ba46
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF results
        uses: github/codeql-action/upload-sarif@v3 # 6624720a57d4c312633c7b953db2f2da5bcb4c3a
        with:
          sarif_file: results.sarif
